@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.dropdown {
  position: relative;
  margin-bottom: 20px;

  @import "../TextField/TextField.scss";

  .text-field {
    margin-bottom: 0;
  }

  select {
    display: none;
  }

  .select {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    background: transparent;
    color: $white;
  }

  .option-list {
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $green;
    border-top: 0;
    background: $black;
    pointer-events: none;
    opacity: 0;

    .option {
      padding: 10px 20px;
      cursor: pointer;
      @include transition('fast');

      &.is-selected {
        color: $green;
      }

      &:hover {
        background: $green;
        color: $black;
      }
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 32px;
    pointer-events: none;
  }

  &.is-focused {
    .option-list {
      opacity: 1;
      pointer-events: all;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }
}