@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/typography.scss";

.details-page {

  .cover {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .cover-text {
      flex: 0 0 auto;
      padding: 175px 100px 45px 100px;

      .text-h1 {
        text-align: center;
      }
    }
  
    .cover-image {
      flex: 1 1 50vh;
      height: 50vh;
      width: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    .brief {
      margin: 0 auto;
      max-width: 880px;
      padding: 50px 100px 100px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .text-label {
        margin-bottom: 30px;
      }

      .text-h1 {
        margin-bottom: 10px;
      }

      .separator {
        margin-bottom: 30px;
        width: 80px;
        height: 5px;
        background: $green;
        background: var(--project-accent-color, $green);
      }

      .tags-list {
        display: flex;

        .tag {
          padding: 5px 30px;
          border: 1px solid $gray-light;
          border-radius: 20px;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .content-blocks {
      display: flex;
      flex-direction: column;

      .block {
        margin: 0 auto 100px auto;
        padding: 0 100px;

        &:not(.block_text) {
          max-width: 1440px;
        }

        .image {
          .text-caption {
            color: $gray;
            margin-top: 10px;
          }
        }
        
        &_image-text {
          display: flex;

          .image {
            width: 75%;
            flex: 1 0 75%;
            padding: 0 100px 0 0;

            img {
              width: 100%;
            }
          }

          .text {
            align-self: center;
            max-width: 400px;
            width: 25%;
            flex: 0 1 25%;

            .title {
              margin-bottom: 15px;
              text-transform: uppercase;
              @include text-label;
            }
          }

          &.is-reversed {
            flex-direction: row-reverse;

            .image {
              padding: 0 0 0 100px;
            }
          }
        }

        &_text {
          width: 100%;
          background: #F6F6F2;
          
          .text {
            margin: 70px auto;
            max-width: 900px;
            text-align: center;

            .text-h2 {
              margin-bottom: 15px;
            }

            .text-label {
              margin-top: 30px;
            }
          }
        }

        &_hero {
          .image {
            img {
              width: 100%;
            }
          }

          .text {
            margin: 100px auto 0 auto;
            max-width: 900px;

            .title {
              margin-bottom: 15px;
              @include text-h2;
            }
          }
        }

        &_double {
          .images-row {
            display: flex;

            .image {
              width: 50%;
              flex: 0 0 50%;

              &:nth-child(1) {
                padding-right: 20px;
              }

              &:nth-child(2) {
                padding-left: 20px;
              }
            }
          }

          .text {
            margin-top: 60px;
            column-count: 2;
            column-gap: 40px;

            .text-h2 {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  .contact {
    padding: 70px 100px;

    .text {
      margin: 0 auto;
      max-width: 700px;
      text-align: center;

      .text-body {
        margin: 30px 0;
      }

      .button {
        margin: 0 auto;
      }
    }
  }

  .next-project {
    position: relative;
    display: block;
    height: 320px;
    background: $black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
      @include transition;
    }

    .text-content {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $white;

      .text-h1 {
        display: flex;
        align-items: center;
        
        span {
          margin-right: 30px;
        }
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }

}