@mixin transition ($type: 'ease', $prop: 'all') {
  @if ($type == 'ease') {
    transition: #{$prop} 0.2s ease;
  }

  @if ($type == 'fast') {
    transition: #{$prop} 0.12s cubic-bezier(.3,1.16,.84,.92);
  }

  @if ($type == 'slow') {
    transition: #{$prop} 0.5s ease-out;
  }
}