// COLORS
$black: #000000;
$white: #ffffff;
$green: #AEF872;

$gray-light: #E9E9E9;
$gray: #8F8F8F;
$gray-dark: #444444;

// BREAKPOINTS
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-xl: 1200px;