@import '../../styles/variables.scss';
@import "../../styles/mixins.scss";
@import "../../styles/typography.scss";

.header {
  z-index: 11;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  --header-accent-color: #{$white};
  --header-contrast-color: #{$black};

  &.is-black {
    --header-accent-color: #{$black};
    --header-contrast-color: #{$white};
  }

  .logotype {
    z-index: 2;
    a {
      svg {
        width: 50px;
        height: 50px;

        & * {
          fill: var(--header-accent-color);
          @include transition;
        }
      }
    }
  }

  .menu {
    color: var(--header-accent-color);

    .menu-links {
      display: flex;

      li {
        &:not(:first-child) {
          margin-left: 44px;
        }

        a {
          @include transition;

          &:hover {
            opacity: 0.4;
          }
        }
      }
    }

    .social-media-links {
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint-xl) {
    padding: 40px;
  }

  @media screen and (max-width: $breakpoint-md) {
    .logotype a svg {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 20px;

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background: var(--header-contrast-color);

      .menu-links {
        margin: 120px auto 0 auto;
        flex-direction: column;
        align-items: center;

        li {
          @include text-h2();

          &:not(:first-child) {
            margin: 40px 0 0 0;
          }
        }
      }

      .social-media-links {
        margin: 120px auto 120px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .link {
          margin-bottom: 15px;

          span {
            z-index: 2;
            text-transform: uppercase;
            position: relative;
            padding: 8px 0;
            color: $white;
            @include transition;
  
            &::before {
              content: '';
              z-index: -1;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background: $white;
              @include transition;
            }
          }
  
          &:hover {
            span {
              color: $black;
  
              &::before {
                height: 100%;
              }
            }
          }
        }
      }

      &.hidden {
        display: none;
        height: 0vh;

        .menu-links {
          opacity: 0;
          margin-top: 0;
        }
      }

      &.fade-in {
        animation: hamburgerMenu 0.5s 1 ease-in-out;

        .menu-content {
          animation: hamburgerMenuContent 0.5s 1 ease-in-out;
        }
      }

      &.fade-out {
        animation: hamburgerMenu 0.5s 1 reverse ease-in-out;

        .menu-content {
          animation: hamburgerMenuContent 0.5s 1 reverse ease-in-out;
        }
      }

      @keyframes hamburgerMenu {
        0% {
          height: 0vh;
        }

        100% {
          height: 100vh;
        }
      }

      @keyframes hamburgerMenuContent {
        0% {
          opacity: 0;
          transform: translateY(-100px);
        }

        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }

    .hamburger {
      z-index: 2;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px 0;
      cursor: pointer;
      @include transition;

      .line {
        width: 30px;
        height: 3px;
        background: var(--header-accent-color);
        pointer-events: none;
        @include transition;
      }

      &.displayed, &.fade-in {
        justify-content: center;

        .line {
          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: translateY(-3px) rotate(-45deg);
          }
        }
      }
    }
  }
}